parameters:
    fileExtensions:
        - php
    ignoreErrors:
        - "#Function .* not found.#"
        - "#Constant .* not found.#"
        - "#Internal error#"
        - "#In method .*, parameter .* can be type-hinted to .*.#"
        - "#Method .* should return .* but returns .*.#"
        - "#Constructor .* has parameter .* with default value.#"
        - "#Class .* is not allowed to extend .*#"
        - "#Variable method call on mixed.#"
        - "#Function .* should not be used.#"
        - "#Access to an undefined property .*#"
        - "#Call to function .* with array will always evaluate to true.#"
        - "#Variable property access on .*.#"
        - "#Method .* has a nullable return type declaration.#"
        - "#In method .*, return type is .*#"
    level: 7
    paths:
    - App/
    - config/
    - routes/
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/localheinz/phpstan-rules/rules.neon
services:
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\EmptyExceptionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\MustRethrowRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\TypeHints\MissingTypeHintInFunctionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\TypeHints\MissingTypeHintInMethodRule
    tags:
      - phpstan.rules.rule
