<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
            <exclude>
                <directory suffix=".php">app/services/exceptions</directory>
                <directory suffix=".php">app/functions</directory>
                <directory suffix=".php">app/controllers</directory>

                <file>app/services/core/App.php</file>
                <file>app/services/core/Upload.php</file>
                <file>app/services/core/Mail.php</file>
                <file>app/services/core/Cookie.php</file>

                <file>app/services/security/CSRF.php</file>
                <file>app/services/security/Recaptcha.php</file>

                <file>app/services/session/Builder.php</file>
                <file>app/services/session/Security.php</file>

                <file>app/services/response/Redirect.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage"/>
    </logging>
</phpunit>
