<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">App</directory>
            <exclude>
                <directory suffix=".php">App/Functions</directory>
                <directory suffix=".php">App/Controllers</directory>

                <file>App/Src/Core/App.php</file>
                <file>App/Src/Core/Upload.php</file>
                <file>App/Src/Core/Mail.php</file>

                <file>App/Src/Log/LoggerHandler.php</file>

                <file>App/Src/Security/CSRF.php</file>
                <file>App/Src/Security/Recaptcha.php</file>

                <file>App/Src/Session/Builder.php</file>
                <file>App/Src/Session/Security.php</file>

                <file>App/Src/View/ProductionErrorView.php</file>
                <file>App/Src/View/View.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage"/>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
    </logging>
</phpunit>
