/*
 * Content
 */

.btn-default {
    font-size: 1.75rem;
    background-color: #E3AB1C;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #E3AB1C;
    color: #fefefe;
}

.btn-default:hover {
    transition: 0.3s;
    opacity: 0.7;
}
