/*
 * Content
 */

.btn-default {
    font-size: 1.75rem;
    background-color: #FFA534;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #FFA534;
    color: #fefefe;
}

.btn-default:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.color-default:hover {
    color: #FFA534!important;
}

.scrollbox-horizontal {
    width: 300px;
    max-width: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scrollbox-vertical {
    height: 300px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
