/*
 * Content
 */

.btn-default {
    font-size: 1.75rem;
    background-color: #FFA534;
    color: #ffffff;
}

.btn-default-small {
    font-size: 1rem;
    background-color: #FFA534;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #FFA534;
    color: #fefefe;
}

.btn-default:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.color-default:hover {
    color: #FFA534 !important;
}

.scrollbox-horizontal {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollbox-vertical {
    height: 300px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.h-250 {
    height: 250px;
    max-height: 250px;
}

.h-500 {
    height: 500px;
    max-height: 500px;
}

.h-750 {
    height: 750px;
    max-height: 750px;
}

.h-1000 {
    height: 1000px;
    max-height: 1000px;
}

.alert-top-right {
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    transition: all 0.5s ease-in-out 0s;
    z-index: 1031;
    top: 20px;
    right: 20px;
}

.alert-button-center-right {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    z-index: 1033;
}

.hover {
    opacity: 0.7;
}

.hover:first-child {
    opacity: 1;
}

.hover:hover {
    opacity: 1;
    transition: opacity;
}

.list-group-item.active {
    background-color: #FFA534;
    border-color: #FFA534;
}

.active-success {
    background-color: #c3e6cb;
    border-color: #c3e6cb;
    color: #155724;
}

.active-success:hover {
    background-color: #8DD09C;
}

.active-danger {
    background-color: #f5c6cb;
    border-color: #f5c6cb;
    color: #721c24;
}

.active-danger:hover {
    background-color: #EA8590;
}


.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}
